<!--
todo :
    - 포트폴리오 생성 시 여러명 선택할 수 있게
    - 멤버별 modal에 프로젝트 보여줄 수 있게
    - 멤버멸 content 추가

-->
<% @ports.each do |port| %>
<br/>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card mb-3">
            
            <img class="card-img-top" src="/assets/port_sample.svg" alt="Card image cap">
    
            <div class="card-body">
                <h5 class="card-title"><%= port.title %></h5>
                <p class="card-text"><%= port.content %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            
            <div class="card-footer text-muted align-middle">
                <% port.members.each do |member| %>
                <span class="align-middle"
                data-toggle="modal" data-target="#exampleModal" data-whatever="<%= member.name %>">
                <%= member.name %></span>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
<% end %>