<div class="container">
    <div class="row">
      <% temp = 4 %>
      <% @m.each do |m| %>
          <% if temp != m.term %>
          <hr width = "90%">
          <% end %>
          <div class="col-sm-3">
            <div class="card" style="width: 16rem; margin-top: 1rem; margin-bottom: 1rem;">
              <img class="card-img-top" src="/assets/replace.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= m.name %></h5>
                <p class="card-text"><%= m.term %>기</p>
                
                <!-- modal button-->
                <button type="button" class="btn btn-primary"
                        data-toggle="modal" data-target="#exampleModal" data-whatever="<%= m.name %>">
                        Open modal
                </button>
                
              </div>
            </div>
          </div>
          <% temp = m.term %>
      <% end %>
    </div>
</div>


<!-- link modal-->
<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
})
</script>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!-- todo
              - 포트폴리오 모델에 이미지 추가
              - 멤버랑 포트폴리오 모델 다대다 관계 설정
        -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
