<div class="container">
    <div class="row">
      <% temp = 4 %>
      <% @members.each do |member| %>
          <% if temp != member.term %>
          <hr width = "90%">
          <% end %>
          <div class="col-sm-3">
            <div class="card" style="width: 16rem; margin-top: 1rem; margin-bottom: 1rem;">
              <img class="card-img-top" src="/assets/replace.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= member.name %></h5>
                <p class="card-text"><%= member.term %>기</p>
                
                <!-- modal button-->
                <%= 
                button_tag class: "btn btn-primary",
                data: { toggle: "modal", target: "#exampleModal", 
                name: member.name } do
                  modal_member = Member.find(member.id)
                  content_tag(:b, 'Open Modal')
                end
                
                %>
                
              </div>
            </div>
          </div>
          <% temp = member.term %>
      <% end %>
    </div>
</div>

